<div id="<%= dom_id friend %>" class="jumbotron">
  <h1 class="display-4"><%= friend.first_name %> <%= friend.last_name %></h1>
  <p class="lead">
    <%= friend.email %> | 
    <%= friend.phone %> |
    <%= friend.twitter %>
  </p>
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-1">
        <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-secondary" %>
      </div>
      <div class="col-1">
        <%= link_to "Back", friends_path, class: "btn btn-secondary" %>
      </div>
      <div class="col-1">
        <%= button_to "Delete", @friend, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
